/* MYNTCD CSS */

.myntcd_header_right {
	text-align: right;
}

td.myntcd_in_packet, td.myntcd_out_packet, td.myntcd_total_packet,
td.myntcd_in_byte, td.myntcd_out_byte, td.myntcd_total_byte, td.myntcd_rate {
	text-align: right;
}

td.myntcd_in_packet_warning, td.myntcd_out_packet_warning, td.myntcd_total_packet_warning,
td.myntcd_in_byte_warning, td.myntcd_out_byte_warning, td.myntcd_total_byte_warning, td.myntcd_rate_warning {
	text-align: right;
	background-color: #f44;
}

.myntcd-navigation {
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	padding: 0.5em;
	text-align: center;
}

.myntcd-navigation .myntcd-previous {
	margin-right: 50px;
}

.myntcd-navigation .myntcd-next {
	margin-left: 50px;
}

.myntcd-navigation span.myntcd-next-grey {
	margin-left: 50px;
	color: #ddd;
}
